.body {
	display: -webkit-flex;
	align-content: center;
    display: flex;
    width: 425px;
    height: 225px;
	background-color: green;
	background-repeat: 
	padding: 10px 10px 10px 10px;
	margin-top: 10px;
	border-radius: 5px;
}

.main {
	display: -webkit-flex;
    width: 400px;
    height: 200px;
	padding: 5px 5px 5px 5px;
	margin-top: 10px;
	background-color: #fffecc;
	border-radius: 5px;
	resize: vertical;
}


.main h1 {
	font-family: Lobster;
	font-size: 45px;
	text-align: center;
}

.describe {
	width: 100%;
    height: 60px;
    padding: 15px 20px;
    box-sizing: border-box;
    resize: none;
   	white-space: normal;
    display: block;
}

input[type=submit] {
	width: 30%;
    border: 1px solid;
    border-color: black;
    height: 25px;
    border-radius: 2px;
    margin-top: 30px;
    margin-left: 10px;
    background: #7D7D15;
    color: #FFFFFF; 
    font-weight: bold;
}

input[type=submit]:hover {
	background: white;
	color: #7D7D15;
	font-weight: bold;
}