.body {
	display: -webkit-flex;
	align-content: center;
    display: flex;
    width: 425px;
    height: 675px;
	background-color: green;
	background-repeat: 
	padding: 10px 10px 10px 10px;
	margin-top: 10px;
	border-radius: 5px;
	box-shadow: 10px 10px 5px #888888;
}

.main {
	display: -webkit-flex;
	align-items: center;
    width: 400px;
    height: 650px;
	padding: 10px 10px 10px 10px;
	margin-top: 10px;
	background-color: #fffecc;
	border-radius: 5px;
	resize: vertical;
}

.styled {
	text-align: right;
	align-content: right;
 
}

.main hr {
	border: 2px dotted #000000;
}

.main form h1 {
	font-family: Lobster;
	font-size: 75px;
	text-align: center;
	font-weight: bold;
	padding-top: 50px;
}

.main form h2 {
	font-size: 24px;
	text-align: center;
	font-weight: bold;
	padding-bottom: -10px;
}

.main form {
	margin-left: 60px;
	margin-right: -50px;
}

.describe {
	width: 100%;
    height: 60px;
    padding: 15px 20px;
    box-sizing: border-box;
    resize: none;
   	white-space: normal;
    display: block;
}

fieldset {
	font-size: 16px;
	align-items: center;
	padding: 2px 2px 2px 2px;
}

input {
	width: 100%;
    border: 1px solid;
    border-radius: 4px;
}

input[type=submit] {
	width: 30%;
    border: 1px solid;
    border-radius: 5px;
    margin-left: -60px;
    margin-top: -10px;
    padding-top: 5px;
    background: #7D7D15;
    color: #FFFFFF;
    font-weight: bold;
}

input[type=submit]:hover {
	background: white;
	color: #7D7D15;
	font-weight: bold;
	border-radius: 5px;
}

/*navigation*/ 
#primary_nav ul {
    list-style-type: none;
}
#primary_nav {
    position: fixed;
    border-radius: 5px;
    padding-top: 22px;
    padding-left: 25px;
}
#primary_nav li a {
    display: inline;
    color: #006600;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    line-height: 2em;
}

#primary_nav li a:hover,
#primary_nav li a:focus {
    color: #fffecc;
    background: #006600;
    border-radius: 5px;
}

